{% extends "base.html" %}

{% block title %}Login - My Django Blog{% endblock %}

{% block content %}
    


    <!-- login section start -->
    <div class="contact_section layout_padding">

        <div class="container-fluid">

          <h1 class="what_taital">Login </h1>
          <!-- <p class="amet_text">amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p> -->
          
         
            <div class="row">
                <div class="col-md-3 padding_left_0">
                </div>
              
                <div class="col-md-6 padding_left_0">
                <div class="mail_section">
                  <input type="" class="mail_text_1" placeholder="username" name="username">
                  <input type="password" class="mail_text_1" placeholder="12345678" name="password">
                  <div class="send_bt"><a href="#">KIRISH</a></div>
                </div>
              </div>

              <div class="col-md-3 padding_left_0">
            </div>


            </div>
          
        </div>

      </div>
      <!-- login section end -->
  


{% endblock %}
