{% extends "base.html" %}

{% block title %}Login - My Django Blog{% endblock %}

{% block content %}
    


    <!-- login section start -->
    <div class="contact_section layout_padding">

        <div class="container-fluid">

          <h1 class="what_taital">Login </h1>
          <!-- <p class="amet_text">amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p> -->

          <div class="login-form">
            <h2>Login</h2>
            
            {% if form.errors %}
                <p class="error-message">Login yoki parol noto‘g‘ri!</p>
            {% endif %}
    
            <form method="post">
                {% csrf_token %}
                
                <div>
                    <label for="id_username">Username:</label>
                    {{ form.username }}
                </div>
    
                <div>
                    <label for="id_password">Password:</label>
                    {{ form.password }}
                </div>
                
                <button type="submit">Login</button>
            </form>
        </div>
          
         
          


            
          
        </div>

      </div>
      <!-- login section end -->
  


{% endblock %}
