{% extends 'base.html' %}
{% block content %}


<div class="people-list-page" style="margin-bottom: 15px;">
    <h2>Pozitsiyalar ro‘yxati</h2>
    <a href="{% url 'protected' %} " class="btn-custom btn-home m-2">Home</a>
    <a href="{% url 'position_add' %}" class="btn-custom btn-friends m-2">+ Yangi position qo‘shish</a>


    <div class=" table table-bordered table-hover">
        <table class="person-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nomi</th>
                    <th>Darajasi</th>
                    <th>Amallar</th>
                    <th>Amallar</th>
                </tr>
            </thead>
            <tbody>
                {% for position in positions %}
                <tr>
                    <td>{{ position.id }}</td>
                    <td>{{ position.title }}</td>
                    <td>{{ position.get_level_display }}</td>
                    <td class="actions">
                        <a href="{% url 'position_update' position.id %}" class="btn-action update">Yangilash</a>
                    </td>   
                    <td class="actions">
                        <a href="{% url 'position_delete' position.id %}" class="btn-action delete">O'chirish</a>
                    </td>           
                </tr>
                {% endfor %}
            </tbody>    
        </table>
    </div>
</div>
{% endblock %}

